<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yours, Kewbish - All Posts</title>
    <meta name="description" content="Yours, Kewbish - All posts.">
    <meta property="og:title" content="YK - All Posts">
    <meta property="og:description" content="Yours, Kewbish - All posts.">
    <meta property="og:image" content="https://i.imgur.com/QxvZ9Tv.png">
    <meta property="og:url" content="https://kewbi.sh">
    <meta property="twitter:title" content="YK - All Posts">
    <meta property="twitter:description" content="Yours, Kewbish - All posts.">
    <meta property="twitter:image" content="https://i.imgur.com/QxvZ9Tv.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://kewbi.sh/css/main.css">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789" rel="stylesheet">
</head>

<body>
    <section class="cont page">
        <div class="main">
            <p><a href="../">&lt; Back to main</a></p>
            <h1 class="b-subtitle subtitle">All YK posts.</h1>
            <p>A list of all posts, sorted by year and most recent. Subscribe via <a href="../index.xml">RSS</a>.</p>
            <div>
                {{ range ((where .Site.Pages "Params.series" "post").GroupByDate "2006") }}
                {{ $artCount := 0 }}
                {{ $wordCount := 0 }}
                {{ range .Pages.ByDate.Reverse }}
                    {{ $artCount = add $artCount 1 }}
                    {{ $wordCount = add $wordCount .WordCount }}
                {{ end }}
                <h1 class="b-sub-2 sub-2" id="{{ .Key }}"><strong>{{ .Key }}</strong></h1>
                <p>{{ $wordCount }} words - {{ $artCount }} posts. </p>
                <div class="grid b-grid">
                    {{ range .Pages.ByDate.Reverse }}
                    <div class="grid-element b-grid-el">
                        <h2 style="padding-bottom: 1%;"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                        <p>{{ .Description }} - <em>{{ .PublishDate.Format "02 January 2006" }}</em></p>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <p><a href="../">&lt; Back to main</a></p><br>
            <br><br>
        </div>
    </section>
</body>

</html>
