<!DOCTYPE html>
<html lang="en" id="top">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YK - All Posts</title>
    <meta name="description" content="Yours, Kewbish - All posts.">
    <meta property="og:title" content="YK - All Posts">
    <meta property="og:description" content="Yours, Kewbish - All posts.">
    <meta property="og:image" content="https://i.imgur.com/QxvZ9Tv.png">
    <meta property="og:url" content="https://kewbi.sh">
    <meta property="twitter:title" content="YK - All Posts">
    <meta property="twitter:description" content="Yours, Kewbish - All posts.">
    <meta property="twitter:image" content="https://i.imgur.com/QxvZ9Tv.png">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <section class="cont page">
        <div class="main">
            <p><a href="../">&lt; Back to main</a></p>
            <h1 class="subtitle">All posts - YK</h1>
            <p>A list of all my thoughts, sorted by most recent. Subscribe via <a href="../index.xml" target="_blank" rel="noreferrer">RSS</a>.</p>
            <div>
                {{ range ((where .Site.Pages "Params.series" "post").GroupByDate "2006").Reverse }}
                {{ $artCount := 0 }}
                {{ $wordCount := 0 }}
                {{ range .Pages.ByDate.Reverse }}
                    {{ $artCount = add $artCount 1 }}
                    {{ $wordCount = add $wordCount .WordCount }}
                {{ end }}
                <h1 class="sub-2" id="{{ .Key }}"><strong>{{ .Key }}</strong></h1>
                <p>{{ $wordCount }} words - {{ $artCount }} posts. </p>
                <div class="grid">
                    {{ range .Pages.ByDate.Reverse }}
                    <div class="grid-element">
                        <h3 style="padding-bottom: 1%;"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                        <p>{{ .Description }} - <small><em>{{ .PublishDate.Format "02 January 2006" }}</em></small></p>
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            <p><a href="../">&lt; Back to main</a></p><br>
            <br><br>
        </div>
    </section>
</body>

</html>
