<!DOCTYPE html>
<html lang="en" id="top">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>
    <section>
        <p><a href="../">&lt; Moonwalk Back - More Posts</a></p>
        <h1>{{ .Title }}</h1>
        <p>Published {{ .PublishDate.Format "02 January 2006" }} at <a href="{{ .Permalink }}">Yours, Kewbish</a>.</p>
        {{ if .Params.Dev }}
            <p>Also published on <a href="{{ .Params.Dev }}">Dev.to</a>.</p>
        {{ end }}
        <div class="single-main-split">
            <div class="single-main-sticky">
                {{ partial "sidebar.html" . }}
            </div>
            <div>
                {{ .Content }}
                <p class="signature">- Yours, Kewbish</p>
            </div>
        </div>
        <br><p><a href="../">&lt; Moonwalk Back - More Posts</a></p>
        <br><br>
    </section>
    
</body>

</html>