<!DOCTYPE html>
<html lang="en" id="top">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body class="cont page">
    <section class="main-2">
        <p><a href="../">&lt; More Posts</a></p>
        <h1 class="subtitle">{{ .Title }}</h1>
        <p>Published {{ .PublishDate.Format "02 January 2006" }} at <a href="{{ .Permalink }}">Yours, Kewbish</a>.</p>
        {{ if .Params.Dev }}
        <p>Also published on <a href="{{ .Params.Dev }}">Dev.to</a>.</p><br>
        {{ end }}
        <div class="writing">
            {{ .Content }}
            <p>- Yours, Kewbish</p>
        </div>
        <br><p><a href="../">&lt; More Posts</a></p>
        <br><br>
    </section>
    
</body>

</html>
