<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="../../../css/main.css">
</head>
<body>
    <header>
        <h1>{{ .Title }}</h1>
        <p>Published {{ .PublishDate.Format "2 January 2006" }} - <a href="../../../index.html">Yours, Kewbish</a></p>
        <div class="custom-div"></div>
    </header>
    <div class="single-main">
        <p><a href="../../index.html">&lt; Moonwalk Back - More Posts</a></p>
        {{ .Content }}
        <p><a href="../../index.html">&lt; Moonwalk Back - More Posts</a></p>  
    </div>
    <footer>
        <small>Copyright &copy; {{ now.Format "2006" }} // end of time</small>
        <br>
    </footer>
</body>
</html>