@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --background-color: #1e1e1e;
    --header-color: #000000;
    --text-color: #ffffff;
    --accent-color: #ffb451;
    --accent-two: #323232;
    --grid-three-columns: repeat(3, minmax(100px, 1fr));
    --font-one: "Consolas", "Courier New", monospace;
    --font-two: "Source Sans Pro", sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-one);
    font-size: 1.2em;
}
section{
    padding: 6% 8% 2%;
}
h1, h2{
    font-family: var(--font-two);
    font-size: 3.5em;
    padding-bottom: 2%;
}
h2{
    font-size: 2em;
    padding: 1% 0 2.5%;
}
h3{
    font-family: var(--font-two);
    font-size: 1.3em;
}
p{
    margin: 0.2% 0;
    padding: 0.2% 0;
}
a{
    color: var(--text-color);
    text-decoration: underline var(--accent-color);
    -webkit-text-decoration: underline var(--accent-color)
}
a:hover{
    color: var(--accent-color);
    transition: 0.3s;
}
strong{
    color: var(--accent-color)
}
img{
    display: block;
    width: 100%;
}
.hero{
    text-align: center;
    margin: 0 auto;
    height: 90vh;
    width: 80vw;
}
.hero-heading{
    font-size: 10vw;
    margin: -1vw 0;
    padding: 0;
}
.hero-left{
    text-align: left;
}
.single-main-split{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-column-gap: 10px;
}
.single-main-sticky{
    position: sticky;
    top: 20%;
    height: 100px;
}
.grid-three-element{
    background-color: var(--accent-two);
    padding: 2.5% 3.5%;
}
.grid-three{
    display: grid;
    grid-template-columns: var(--grid-three-columns);
    grid-column-gap: 2%;
    margin: 2% 0;
}
.year{
    font-family: var(--font-one);
    padding: 0.5% 0;
}
.signature{
    font-family: monospace;
    font-size: 20px;
    text-indent: 0px;
    margin: 10px 0;
}   
@media all and (max-width: 768px){
    :root{
        --grid-three-columns: 1fr;
    }
    h1, h2{
        margin: 1% 0;
    }
    .grid-three{
        grid-row-gap: 0.7em;
    }
    .grid-three-element{
        padding: 4% 5%;
    }  
    .single-main-split{
        grid-template-columns: 1fr;
    }
    .single-main-sticky{
        display: none;
    }
}