/* general */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789');*{
    margin: 0;
    padding: 0;
}
:root{
    --main-colour: #1E1E1E;
    --sub-colour: #323232;
    --accent-colour: #888888;
    --grid-columns: 5fr 1fr 5fr;
    scroll-behavior: smooth;
    text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #8c8c8c;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: var(--sub-colour);
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover ::-webkit-scrollbar-track:active {
    background: var(--sub-colour);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
html{
    background-color: var(--main-colour);
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 1.2em;
}
hr{
    margin: 10px 0;
}
p{
    margin: 0.2% 0;
    padding: 0.2% 0;
}
a{
    color: var(--text-color);
    text-decoration: underline var(--accent-colour);
    -webkit-text-decoration: underline var(--accent-colour)
}
a:hover{
    color: var(--accent-colour);
    transition: 0.3s;
}
strong{
    color: var(--accent-colour)
}
img{
    display: block;
    width: auto;
    max-width: 100%;
}
ol{
    list-style-position: inside;
}
ol p{
    display: inline;
}
ul{
    padding-left: 2%;
}
pre{
    padding: 3.5%;
    margin: 2% 0;
    overflow-x: auto;
}
/* titles */
.subtitle {
    font-size: 5em;
    margin: 1% 0 1% -1%;
}
.sub-2 {
    font-size: 3em;
}
/* containers */
.index {
    background: url("../Back.svg") center no-repeat;
    background-size: cover;
    background-position: 0% 47%;
    height: 100vh;
    width: 100vw;
    display: flex; // make us of Flexbox
    align-items: center;
    justify-content: center; 
}
.index-main {
    width: 60%;
    margin: auto;
}
.cont {
    display: flex;
    align-items: center;
    justify-content: center;
}
.page {
    padding: 4.5% 0;
    background: linear-gradient(#1E1E1E55, #1E1E1E55), url("../Back.svg") repeat-y;
    background-size: 100% auto;
}
.main {
    width: 75%;
}
/* grid */
.grid{
    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    padding: 2% 0;
}
.grid-element{
    background-color: var(--sub-colour);
    padding: 2% 3.5%;
    border-radius: 7px;
}
.grid-element:nth-child(4n+2){
    grid-column: 2 / span 2;
}
.grid-element:nth-child(4n+3){
    grid-column: 1 / span 2;
}
.grid-element:nth-last-child(1):nth-child(odd){
    grid-column: 1 / span 3;
}
/* type */
.signature{
    font-family: monospace;
    font-size: 20px;
    margin: 10px 0;
}   
/* media */
@media all and (max-width: 768px){
    :root{
        --grid-columns: 1fr;
    }
    .grid-element:nth-child(4n+2),
    .grid-element:nth-child(4n+3),
    .grid-element:nth-last-child(1):nth-child(odd){
        grid-column: auto;
    }
}
