<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oops!</title>
    <link rel="stylesheet" href="https://kewbi.sh/css/main.css">
    <meta name="google-site-verification" content="nCqg0YzSxnpcnoFKQq8A2VJCpuSBSdJpKefPxK8AWbA" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789" rel="stylesheet">
</head>

<body class="index cont">
    <div class="index-main">
        <h1 style="font-size: 5em; margin: 1% 0 1% -1%;">Oops - this doesn't exist.</h1>
        <p>Return to the main blog <a href="https://kewbi.sh/blog/">here</a>.</p>
    </div>
</div>
</body>

</html>
