{{ define "main"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yours, Kewbish</title>
    <meta name="description" content="Yours, Kewbish - a blog by Emilie Ma.">
    <meta property="og:title" content="Yours, Kewbish - a blog by Emilie Ma.">
    <meta property="og:description" content="A blog by Kewbish // Emilie - a collection of technical essays and musings.">
    <meta property="og:image" content="https://i.imgur.com/QxvZ9Tv.png">
    <meta property="og:url" content="https://kewbi.sh/blog/">
    <meta property="twitter:title" content="Yours, Kewbish - a blog by Emilie Ma.">
    <meta property="twitter:description" content="A blog by Kewbish // Emilie - a collection of technical essays and musings.">
    <meta property="twitter:image" content="https://i.imgur.com/QxvZ9Tv.png">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <section class="index cont">
        <div class="index-main">
            <h1 class="subtitle">Yours, Kewbish</h1>
            <p>A collection of correspondence, letters, and musings. <a href="/posts">See all posts</a>.</p>
            <div class="grid">
                {{ range first 4 (where (where .Site.Pages "Params.series" "post").ByDate.Reverse  ".Date" "le" now) }}
                    <div class="grid-element" style="text-align: left;">    
                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                        <p>{{ .Description }}</p>
                        <small><em>{{ .PublishDate.Format "02 January 2006" }}</em></small>
                    </div>
                {{ end }}
            </div>
            <div>
                {{ $wordCount := 0 }}
                {{ $articleCount := 0 }}
                {{ range (where .Site.Pages "Params.series" "post") }}
                    {{ $words := .WordCount }}
                    {{ $wordCount = add $wordCount $words }}
                    {{ $articleCount = add $articleCount 1 }}
                {{ end }}
                <p>Yours, Kewbish was intended to be a collection of epistolary essays, but that certainly changed. So far, I've written {{ $wordCount }} words here over {{ $articleCount }} posts - mostly in the form of tech articles, personal stories, and other content.</p>
            </div><br>
        </div>
    </section>
</body>

</html>
{{ end }}
